button {
  cursor: pointer;
  border: none;
  outline: none;

  &:focus {
    border: none;
    outline: none;
  }

  &.primary {
    border: 1px solid $primary;
    background-color: $primary;
    color: white;

    &:hover {
      color: $primary;
      background-color: white;
    }
  }

  &.secondary {
    border: 1px solid hsla(0, 0%, 65%, 1.00);
    background-color: hsla(0, 0%, 65%, 1.00);
    color: white;

    &:hover {
      color: hsla(0, 0%, 65%, 1.00);
      background-color: white;
    }
  }
}
